<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<dict>
		<key>successKey</key>
		<string>login</string>
		<key>errorKey</key>
		<string>error</string>
		<key>login</key>
		<string>Login OK</string>
	</dict>
	<key>GetForums</key>
	<dict>
		<key>successKey</key>
		<string>categories</string>
		<key>errorKey</key>
		<string>error</string>
		<key>successCategoryNameKey</key>
		<string>name</string>
		<key>successCategoryIDKey</key>
		<string>id</string>
		<key>successCategoryForumsKey</key>
		<string>forums</string>
		<key>successForumNameKey</key>
		<string>name</string>
		<key>successForumIDKey</key>
		<string>id</string>
		<key>successForumViewingKey</key>
		<string>viewing</string>
	</dict>
	<key>GetThreads</key>
	<dict>
		<key>successKey</key>
		<string>threads</string>
		<key>errorKey</key>
		<string>error</string>
		<key>successThreadIDKey</key>
		<string>id</string>
		<key>successThreadTitleKey</key>
		<string>title</string>
		<key>successThreadIconURLKey</key>
		<string>icon</string>
		<key>successThreadStatusKey</key>
		<string>status</string>
		<key>successThreadLockedKey</key>
		<string>locked</string>
		<key>successThreadPagesKey</key>
		<string>pages</string>
		<key>successThreadReadingKey</key>
		<string>reading</string>
		<key>successThreadReplyCountKey</key>
		<string>replies</string>
		<key>successThreadViewCountKey</key>
		<string>views</string>
		<key>successThreadAuthorNameKey</key>
		<string>author</string>
		<key>successThreadAuthorIDKey</key>
		<string>authorid</string>
		<key>successThreadLastPostIDKey</key>
		<string>lastpostid</string>
	</dict>
	<key>GetPosts</key>
	<dict>
		<key>successKey</key>
		<string>posts</string>
		<key>errorKey</key>
		<string>error</string>
		<key>successNumPagesKey</key>
		<string>numpages</string>
		<key>successPostIDKey</key>
		<string>id</string>
		<key>successPostTimeKey</key>
		<string>time</string>
		<key>successPostUserIDKey</key>
		<string>userid</string>
		<key>successPostUsernameKey</key>
		<string>username</string>
		<key>successPostUserTitleKey</key>
		<string>usertitle</string>
		<key>successPostUserJoinDateKey</key>
		<string>joindate</string>
		<key>successPostUserPostCountKey</key>
		<string>postcount</string>
		<key>successPostMessageKey</key>
		<string>message</string>
		<key>successPostUserAvatarKey</key>
		<string>avatar</string>
		<key>successPostStatusKey</key>
		<string>status</string>
		<key>successPostRatingKeysKey</key>
		<string>ratingskeys</string>
		<key>successPostRatingsKey</key>
		<string>ratings</string>
	</dict>
</dict>
</plist>
